<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt-4 text-theme-primary bg-secondary-theme">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat
        iusto eaque error est. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Sunt ab eos optio accusantium vero nihil doloremque?
        Totam hic laudantium ad fugiat sequi soluta vero dicta voluptate
        corrupti facere. Odio, nisi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat
        iusto eaque error est. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Totam adipisci suscipit esse velit pariatur delectus
        eum magnam nesciunt quasi nisi facilis natus consequatur blanditiis in
        assumenda, fugiat explicabo dignissimos necessitatibus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam repellat
        iusto eaque error est. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Amet labore, placeat provident, suscipit atque
        temporibus iste accusantium voluptate odio neque harum sequi. Sit, est.
        Facilis et praesentium rerum unde ullam!
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
