<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/247851/pexels-photo-247851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 100,245</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED, SEP 20, 2021</small
          >
          <h1 class="mt-3 mb-3">HOW TO START A BLOG 2021 EDITED NEW COSTAM</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            ullam voluptatem incidunt recusandae, ab laboriosam repudiandae
            ducimus. Incidunt quis itaque velit beatae culpa, quidem assumenda,
            pariatur quo laboriosam iusto magni. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Minima eveniet possimus commodi enim?
            Eaque iste laboriosam perspiciatis veritatis beatae mollitia ipsa
            quaerat, consequatur id voluptas, ipsum quibusdam optio ad illo!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus
            adipisci porro minus, nisi asperiores aperiam aliquid quas
            provident. Libero placeat necessitatibus, alias sit natus eos
            nostrum dicta eveniet voluptatem iure.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
