<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/247851/pexels-photo-247851.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100,256</small>
    <h5 class="mt-1">HOW TO START A BLOG IN 2020 EDITED CATEGORY</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem officia
      delectus, nostrum excepturi quo natus accusamus tempore ab nulla hic et
      magni voluptatum dicta officiis sit. Ex reprehenderit assumenda nam.
    </p>
    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - SEP 20, 2021</small
    >
  </div>
</div>
